fastapi==0.115.0
google==3.0.0
pydantic-settings==2.5.2
requests==2.32.3
google-generativeai==0.8.3
langchain==0.3.3
langchain_chroma
langchain_community
langchain_core
langchain_huggingface
langchain_text_splitters
langchain_google_genai
pymongo==4.9.0
motor==3.6.0
PyPDF2==3.0.1
ipywidgets==8.1.5
streamlit==1.39.0
